RewriteEngine On

#Allows loading proper files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#If not given a proper file or directory, redirect to the index page
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]
